[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
folium = "*"
ipykernel = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
