[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
folium = "*"
geopy = "*"
ipykernel = "*"
jupyter = "*"
jupyterlab = "*"
html5lib = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
requests = "*"
seaborn = "*"
selenium = "*"
xlrd = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
